/*-----------------------------------------------------------------------
                      OWL CAROUSEL PROPERTIES - GLT
------------------------------------------------------------------------*/
/*--Controls--*/
.owl-dot.active{
    -webkit-box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
    border:1px dotted #000;
    border-radius:50%;
}
.owl-dot span{
    margin:5px;
    border:1px solid #000;
}
.owl-dot{
    margin:10px;
}
/*--Image Properties and Title--*/
.img-wrap{
  width:500px;
  margin:auto;
}
.thumb-info h4{
    text-align:center;
    font-size:30px;
    font-weight:900;
}

.color-carousel-close {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    color: #000000;
    text-align: center;
    line-height: 25px;
    font-size: 26px;
    border: 2px solid #d81d20;
    box-sizing: initial;
    z-index: 10;
    margin: 0 auto;
    float: right;
}
.color-carousel-close i:before{
    content: 'x';
    top:-20px;
    text-align:center;
}

.main-image{
  text-align:center;
}
.header{
  text-align: center;
}
.buttons-wrapper {
    text-align:center;
    margin:10px;
}
.buttons-wrapper button{
    background:red;
    border:none;
    padding:10px;
    color:white;
}
.buttons-wrapper button:nth-child(1){
    margin-right:5px;
}
